<div class="navbar navbar-inverse navbar-fixed-top">
    <div style="margin-left:12%;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-collapse">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="dashboardButton" href="/" onclick="window.location.reload(true);" >Dashboard</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="new" class="dropdown">
	                <a class="dropdown-toggle" id="dropdownCreate" data-toggle="dropdown" href="#">Create New
	        		<span class="caret"></span></a>
	        		<ul class="dropdown-menu" >
	                	 <li><a href="/createReport" onclick="window.location.reload(true);" id="createReportButton">Report</a></li>                	
	                </ul>
                </li>
                
                
            </ul>
            
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>